body {
    background-image: url('background.gif');
    background-size: cover;
    background-repeat: repeat;
    color: whitesmoke;
}

#title-content {
    font-size: 50px;
}

#text-content {
    font-size: 20px;
}

.topic {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
}

.hover-text {
    opacity: 0;
    background-color: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    font-size: 15px;
}

.hover-title {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.topic:hover .hover-text {
    opacity: 1;
}


.topic-2 {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 20px; /* Adiciona margem à direita para separar os tópicos */
}

.topic-title-2 {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 30px;
}

.topic-text-2 {
    opacity: 0;
    background-color: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    font-size: 15px;
}

.topic-2:hover .topic-text-2 {
    opacity: 1;
}


.topic-container {
    font-size: 0; /* Remove espaços entre os elementos para evitar interferência no layout */
}

.topic-3 {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.topic-title-3 {
    cursor: pointer;
    position: relative;
    font-size: 30px;
}

.topic-text-3 {
    opacity: 0;
    background-color: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    font-size: 15px;
    position: absolute;
    top: 100%; /* Coloca o texto abaixo do título */
    left: 0;
    z-index: 1; /* Garante que o texto apareça acima de outros elementos */
}

.topic-3:hover .topic-text-3 {
    opacity: 1;
}
